<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'> 
		<script src="angularAPI/angular.min.js" type="text/javascript"></script>
		<script src="javascript/app.js" type="text/javascript"></script>
		<script src="javascript/commissioncontroller.js" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="css/normalize.css">
		<link rel="stylesheet" type="text/css" href="css/foundation.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="shortcut icon" type="image/x-icon" href="icons/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Commission</title>
	</head>

	<body>
		<div id="wrapper" ng-app="CommissionApp" ng-controller="CommissionController">
			<form name="orderForm1" novalidate id="locationInformation">
				<input type="text" name="monthInput" ng-model="monthInput" placeholder="{{month}}" required />
				<input type="text" name="inputTown" ng-model="inputTown" placeholder="Town" required />
			</form>
			<form name="orderForm2" novalidate id="orderInput">
				<input type="number" name="inputLocks" ng-model="inputLocks" placeholder="Number of Locks" maxlength="2" ng-pattern="numberFormat"required />
				<input type="number" name="inputStocks" ng-model="inputStocks" placeholder="Number of Stocks" maxlength="2" ng-pattern="numberFormat"required />
				<input type="number" name="inputBarrels" ng-model="inputBarrels" placeholder="Number of Barrels" maxlength="2" ng-pattern="numberFormat"required />
			</form>

			<div id="error" ng-show="errorObject.errorHasOccured">{{errorObject.message}}</div>

			<div id="tableDiv" >
				<div id="actionButtons">
					<button id="placeOrderButton" ng-model="placeOrder" ng-click="sendOrder(inputTown,inputLocks,inputStocks,inputBarrels)">Place Order</button>
					<button id="placeOrderButton" ng-model="placeOrder" ng-click="endMonth(inputTown,monthInput,inputLocks,inputStocks,inputBarrels)">End monthly sales</button>
					<button id="getButton" ng-model="getButton" ng-click="getStuff()">Get Shit</button>
				</div>
				<div id="tableWrapper">
					<text id="tableLogo">Ordered Items</text>
					<table id="orderTable">
						<tr>
							<th id="locksColumn">Locks</th>
							<th id="stocksColumn">Stocks</th>
							<th id="barrelsColumn">Barrels</th>
						</tr>
						<tr ng-repeat="dataRow in recievedData">
						  <td>{{dataRow.locks}}</td>
						  <td>{{dataRow.stocks}}</td> 
						  <td>{{dataRow.barrels}}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>