<nav class="top-bar" data-topbar>
		<section class="top-bar-section">
			<ul class="right">
				<li class="userName">
				<a>Welcome {{getCookie('user')}}!</a>
				</li>
				<li class="logOutButton">
				<a ng-click="redirect('logout')">Log out</a>
				</li>
			</ul>

		<ul class="left">
			<li class="name" ng-show="getCookie('userType')=='admin'">
				<h1><a href="#report">Report</a></h1>
			</li>
		</ul>
		</section>
	</nav>
<div id="userStatistics" class="small-7 small-centered columns">
	<div>
		<button class="openMonthTabs" ng-repeat="(rowId, orderMonth) in openMonths" ng-click="setCurrentOpenOrderMonth(rowId)">{{orderMonth.month}}</button>
	</div>

	<div ng-hide="openMonthSelected == null">
		<div class="small-12 small columns">
		<h3>{{openMonths[openMonthSelected].month}}</h3>
		</div>
		<div class="small-10 small-centered columns" id="currentMonth" >
			<div class="small-5 large-5 columns" id="stockTable">
					<h3>Currently in stock</h3>
				<table class="small-3 small columns" id="tableOfStock">
					<tr>
						<th class="leftAlign" id="locksInStock">Locks</th>
						<th class="leftAlign" id="stocksInStock">Stocks</th>
						<th class="leftAlign" id="barrelsInStock">Barrels</th>
					</tr>
					<tr>
					  <td class="rightAlign">{{stock.locksLeft}}</td>
					  <td class="rightAlign">{{stock.stocksLeft}}</td>
					  <td class="rightAlign">{{stock.barrelsLeft}}</td>
					</tr>
				</table>
			</div>
			
			<div class="small-6 small columns" id="newOrdersTable" >
					<h3>Ordered Items</h3>
				<table class="small-4 small columns" id="orderTable">
					<tr>
						<th class="leftAlign">Date</th>
						<th class="leftAlign">Town</th>
						<th class="leftAlign" id="locksColumn">Locks</th>
						<th class="leftAlign" id="stocksColumn">Stocks</th>
						<th class="leftAlign"id="barrelsColumn">Barrels</th>
					</tr>
					<tr ng-repeat="dataRow in currentMonthOrder">
					  <td>{{dataRow.date}}</td>
					  <td>{{dataRow.town}}</td>
					  <td class="rightAlign">{{dataRow.locks}}</td>
					  <td class="rightAlign">{{dataRow.stocks}}</td> 
					  <td class="rightAlign">{{dataRow.barrels}}</td>
					</tr>
				</table>
				
			</div>
		</div>
		<div id="endMonthButton">
			<button id="placeOrderButton" ng-model="placeOrder" ng-click="endMonth()">End monthly sales</button>
		</div>
	</div>
	<div id="noCurrentMonth" ng-show="openMonthSelected == null"> <h3>Select month to show orders</h3> 
	</div>
</div>
<div id="order" class="small-7 small-centered columns">
		<div id="tableLogo">
			<h3>Create new order</h3>
			<div class="statusBar" ng-show="orderIsAdded == true" >
				<p>The order was added!</p>
			</div>
		</div>
		<div id="orderFormDiv">
			<form class="small-9 columns" name="orderForm1" novalidate id="locationInformation">
				<input  type="text" ng-model="orderForm.date" 
				ng-init="orderForm.date=(v.Dt| date:'yyyy-MM-dd')"
				required />
				<input type="text" ng-model="orderForm.town" placeholder="Town" required />
				<input type="number" ng-model="orderForm.locks" placeholder="Locks" maxlength="2" ng-pattern="numberFormat"required />
				<input type="number" ng-model="orderForm.stocks" placeholder="Stocks" maxlength="2" ng-pattern="numberFormat"required />
				<input type="number" ng-model="orderForm.barrels" placeholder="Barrels" maxlength="2" ng-pattern="numberFormat"required />
			</form>
		</div>
		<div class="actionButtonsDiv" >
			<button id="placeOrderButton" ng-model="placeOrder" ng-click="processOrder(orderForm)">Place Order</button>
		</div>
		<div id="error" class="small-7 small-centered columns" ng-show="errorObject.errorHasOccured==true"><b>##ERROR## {{errorObject.message}}</b>
		</div>
	</div>
</div>
