<div id="options">
	<div>
		<button id="openMonthTabs" ng-repeat="(rowId, orderMonth) in openMonths" ng-click="setCurrentOpenOrderMonth(rowId)">{{orderMonth.month}}</button>
	</div>
	<div id="stockTable">
		<text id="tableLogo">Currently in stock</text>
		<table id="tableOfStock">
			<tr>
				<th id="locksInStock">Locks</th>
				<th id="stocksInStock">Stocks</th>
				<th id="barrelsInStock">Barrels</th>
			</tr>
			<tr>
			  <td>{{openMonths[openMonthSelected].locks}}</td>
			  <td>{{openMonths[openMonthSelected].stocks}}</td>
			  <td>{{openMonths[openMonthSelected].barrels}}</td>
			</tr>
		</table>
	</div>
	
	<div id="newOrdersTable">
		<text id="tableLogo">Ordered Items</text>
		<table id="orderTable">
			<tr>
				<th id="locksColumn">Locks</th>
				<th id="stocksColumn">Stocks</th>
				<th id="barrelsColumn">Barrels</th>
			</tr>
			<tr ng-repeat="dataRow in currentMonthOrder">
			  <td>{{dataRow.locks}}</td>
			  <td>{{dataRow.stocks}}</td> 
			  <td>{{dataRow.barrels}}</td>
			</tr>
		</table>
	</div>
</div>

<div id="order">
		<form name="orderForm1" novalidate id="locationInformation">
			<input type="text" ng-model="form.date" placeholder="Date" required />
			<input type="text" ng-model="form.town" placeholder="Town" required />
			<input type="number" ng-model="form.locks" placeholder="Number of Locks" maxlength="2" ng-pattern="numberFormat"required />
			<input type="number" ng-model="form.stocks" placeholder="Number of Stocks" maxlength="2" ng-pattern="numberFormat"required />
			<input type="number" ng-model="form.barrels" placeholder="Number of Barrels" maxlength="2" ng-pattern="numberFormat"required />
		</form>

		<div id="error" ng-show="errorObject.errorHasOccured">	{{errorObject.message}}
		</div>
		<div id="tableDiv" >
			<div id="actionButtons">
				<button id="placeOrderButton" ng-model="placeOrder" ng-click="sendOrder(form)">Place Order</button>
				<button id="placeOrderButton" ng-model="placeOrder" ng-click="getTotalSoldValue(2014,03)">End monthly sales</button>
				<button id="updateTables" ng-model="placeOrder" ng-click="getOrders(yearInput+'-'+selectMonth)">Update</button>
			</div>
		</div>
	</div>
</div>
