<nav class="top-bar" data-topbar>
		<section class="top-bar-section">
			<ul class="right">
				<li class="userName">
				<a>Welcome {{retrieveAndCheckCookie()}}!</a>
				</li>
				<li class="logOutButton">
				<a ng-click="redirect('logout')">Log out</a>
				</li>
			</ul>

		<ul class="left">
			<li class="name">
				<h1><a href="#order">Order</a></h1>
			</li>
		</ul>
		</section>
	</nav>
<div class="small-4 small-centered columns">
	<div id="completedOrdesTable">
		<text id="tableLogo">Completed orders</text>
		<table id="tableOfStock">
			<tr>
				<th id="reportYear">Year</th>
				<th id="reportMonth">Month</th>
				<th id="locksSold">Locks</th>
				<th id="stocksSold">Stocks</th>
				<th id="barrelsSold">Barrels</th>
				<th id="totalValue">Total sold value</th>
				<th id="commission">Commission</th>
			</tr>
			<tr ng-repeat="dataRow in endedMonthsData">
				<td>{{dataRow.year}}</td>
			  	<td class="numberValue">{{dataRow.month}}</td> 
			  	<td class="numberValue">{{dataRow.locks}}</td>
			  	<td class="numberValue">{{dataRow.stocks}}</td> 
			  	<td class="numberValue">{{dataRow.barrels}}</td>
			  	<td class="numberValue">${{calculateTotalSoldValue(dataRow.locks,dataRow.stocks,dataRow.barrels)}}</td>
			  	<td class="numberValue">${{calculateCommission(dataRow.locks,dataRow.stocks,dataRow.barrels)}}</td>
			</tr>
		</table>
		<div id="actionButtons">
			<button id="updateTables" ng-model="getReport" ng-click="getEndedMonths()">Update</button>
		</div>
	</div>
</div>