html,body
{ 
	/* This defines the dafault settings for the entire page. */
	font-size: 1em;
	margin: 0;
	color: rgb(99,99,99);
	font-family: Arial;
}

#options,#order{
	width:40%;
	margin-left: auto;
	margin-right: auto;
}

#options{
	margin-top: 10%;
}

#locationInformation input{
	width:40%;
}

#orderInput input{
	width:32%;
	display: inline;
}

#tableDiv{
	width:60%;
	margin-right: auto;
	margin-left: auto;
}

#tableWrapper{
	width:53%;
	margin-right: auto;
	margin-left: auto;
}
input.ng-pristine
{
	border-color: Gold;
}

input.ng-dirty.ng-valid
{
	border-color: Green;
}

input.ng-dirty.ng-invalid
{
	border-color: Red;
}




