html,body
{ 
	/* This defines the dafault settings for the entire page. */
	font-size: 1em;
	margin: 0;
	color: rgb(99,99,99);
	font-family: Arial;
}

button{
	border: solid 1px;
	border-radius: 5px;
}

#orderFormDiv input{
	width:18%;
	min-width:90px;
	float:left;
	margin-left: 5px;
	position: relative;
}

.rightAlign{
	text-align: right;
}

.leftAlign{
	text-align: left;
}

#userStatistics, #order
{
	border: 5px solid #2BA6CB;
	margin-bottom: 5px;
}

input.ng-pristine,select.ng-pristine
{
	border-color: Gold;
}

input.ng-dirty.ng-valid,select.ng-dirty.ng-valid
{
	border-color: Green;
}

input.ng-dirty.ng-invalid,select.ng-dirty.ng-invalid
{
	border-color: Red;
}


